*{
    margin: 0;
    padding: 0;
}

body {
    display: flex;
    align-items: center;
    flex-direction: column;
    justify-content: center;
    height: 45vw;
    background-image: url(./img/landscape.png);
}

#maze-container {
    border: 10px solid black;
    position: relative;
    display: flex;
    flex-direction: column;
    border-radius: 10px;
    overflow: hidden;
}

.row {
    display: flex;
}
.cell {
    width: 50px;
    height: 50px;
    border: 1px solid rgb(133, 132, 132);
    background-image: url(./img/cell.png);
}

.wall {
    background-image: url(./img/wall.png);
    border: 1px solid black;
}

#warrior {
    position: absolute;
    top: 0px;
    left: 0px;
    /* background: radial-gradient(circle at 20px 20px, blue 0%, red); */
    /* transition: 0.3s; */
}
/* #warrior:hover {
    background: var(--bg--color);
} */
#door{
    position: absolute;
    bottom: 0px;
    right: 0px;
}

#lantern {
    position: absolute;
    width: 2000px;
    height: 2000px;
    /* background: radial-gradient(circle at 1000px 1000px, transparent 0%, black 100px); */
    pointer-events: none;
    /* transition: 0.3s; */
}
